html{
  scroll-behavior: smooth;
}

body{
background-color: #737373;
font-size: 18px;
margin: 0;
padding: 0;
}

h1{
font-size: 50px;
line-height: 1;
padding: 50px 0;
text-align: center;
}

h2{
font-size: 32px;
line-height: 1.5;
}

nav li{
display:inline;
padding-right:20px;
}

nav a{
color: black;
font-weight: bold;
text-decoration: none;
}

/*Your Code Here*/
/*Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
nav a:hover{
text-decoration: underline;
}

img{
  height: 70%
}

.skip a{
background: white;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
/*Your code here*/
opacity: 0;
position: absolute;
/* top: 40px; */
}

/*Your Code Here*/
/*Write selector/rule property to position the skip class element*/
.skip{
position: relative;
top: 40px;
}

/*Your Code Here*/
/*Write selector/rule property to style all elements when in focus*/
.skip a:focus{
opacity: 1;
}

nav{
background-color: #ddd;
padding: 25px 0;
text-align: left;
vertical-align: middle;
}

footer{
background-color: black;
color: white;
padding-top: 30px;
text-align: center;
}

*:focus{
border-style: solid;
border-width: 2px;
}

.container{
/*Your Code Here*/
display: grid;
-webkit-grid-template-columns: 1fr 5fr 1fr;
grid-template-columns: 1fr 5fr 1fr;
grid-template-rows: auto auto auto auto auto;
grid-row-gap: 15px;
overflow: hidden;
}

header{
background-attachment: fixed; /* Parallax effect */
background-position: center;  /* Parallax effect */
background-repeat: no-repeat; /* Parallax effect */
background-size: cover;       /* Parallax effect */
color: white;
height: 400px;                /* Parallax effect */

/*Your Code Here*/
/*Set background-image to header.jpg */
background-image: url("../images/header.jpg");
grid-column: 1 / -1;  /*Can you explain what this does?*/
grid-row: 1 / auto;   /*Can you rewrite it?*/
}

header p{
color: white;
font-size: 24px;
padding: 0 100px;
text-align: center;
}

.about, .method, .clients, .contact{
/*Your Code Here*/
z-index: 1;
grid-column: 2 / auto;
grid-row: auto / auto;
overflow: hidden;
}

.about-image, .method-image, .clients-image, .contact-image{
/*Your Code Here*/
max-height: 700px;
display:inline-block;
width: 100%;
align-self: center;
grid-column: 1 / -1;
grid-row: auto / auto;
overflow: hidden;
}

.about, .about-image{
 /*Your Code Here*/
  grid-row-start: 2;
}

.method, .method-image{
 /*Your Code Here*/
  grid-row-start: 3;
}


.clients, .clients-image{
  /*Your Code Here*/
  grid-row-start: 4;
}


.contact, .contact-image{
  /*Your Code Here*/
  grid-row-start: 5;
}

.text-block{
background-color: rgba(255, 255, 255, .8);
border: 10px solid black;
display: inline-block;
padding: 30px;
margin: auto;
align-self: center;
overflow: hidden;
}


@media all and (min-width: 800px){
img{
  width: 90%;
}

nav{
  padding: 30px 0px;
  /*Your code here:*/
  text-align: right;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.container{
  display: grid;
  -webkit-grid-template-columns: 50px auto 500px auto 50px;
  grid-template-columns: 50px auto 500px auto 50px;
  grid-template-rows: 400px 400px 400px 400px 400px;
  width: 100%;
  height: 100%;
}

.about, .clients, .method-image, .contact-image{
  grid-column: 3 /  span 2;
  /* height: 400px; */
}

.about-image, .clients-image, .method, .contact{
  grid-column: 2 /  span 2;
}
}

/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; /* Removes scroll animation */
}

.skip a{
  -webkit-transition: none; /* sets to default setting */
  transition: none;        /* sets to default setting */
 }

/*Turn off parallax*/
header{
  background-attachment: initial;
}
}
